- if notice
  %p.alert= notice

%h2= @post.title
= "Tagged: #{@post.tagged_users.map(&:email).join(", ")}"
= link_to @post.link, @post.link, target: "_blank"
%p= @post.content

= link_to 'Edit', edit_post_path(@post) 
| 
= link_to 'Back', posts_path
